@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style and utilize */
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

button {
    background-color: #E02C6D;
    padding: 5px 15px;
    color: white;
    font-size: 1.2em;
    border: 2px solid #E02C6D;
    transition: transform 2s linear;

}

button:hover {
    transform: scale3d(1.1);
    color: blueviolet;
}

a:hover,
.fab:hover,
.left-icon:hover {
    transform: scale(1.2);
    color: blueviolet;
}


/*----------- header style start------------- */




/* -------navbar style---------- */
header {
    background-color: #2D25A0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.fa-bars {
    font-size: 1.2em;

}

.menubar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.menubar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0px 5px;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


/* ---------header box-------------- */

h1 {
    font-size: 50px;
    margin: 0px;
}

.header-boxes {
    width: 80%;
    display: flex;
    margin-top: 40px;

}

.header-box {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-box img {
    width: 100%;
    transition: transform 0.8s ease-in-out;
}

.header-box>img:hover {
    transform: scale(1.13);
}


/* ---------main section part--------- */

main {
    display: flex;
    justify-content: center;

}

.all-players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    width: 80%;
    grid-gap: 40px;
}

.player img {
    width: 324px;
}

.player {
    width: 320px;
    border-radius: 10px;
    box-shadow: 5px 5px 40px gray;
    padding: 15px;
    background-color: white;
    transition: transform .07s ease-in-out;
}

.player:hover {
    transform: scale(1.1);

}

/*-------------- extra part------------- */

.leo-team {
    width: 80%;
    background-image: url(images/messi.jpg);
    padding: 20px 0;
    color: rgb(53, 11, 243);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 30px auto 0 auto;

}

span {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.leo-team>h1 {
    visibility: visible;
    color: darkblue;
    transition: transform 2s ease-out;
    height: 400px;
}

.leo-team:hover {
    opacity: 0.8;
    transform: scale(1.6);
}


.leo-team h1:hover {
    visibility: visible;
    transform: translate3d(1.1);
}

/*--------- service part---------- */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    padding-top: 20px;

}

.about>div>a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.about>div>a:hover {
    color: coral;
}


/*---------- footer---------- */

footer {
    background-color: white;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.football-logo img {
    width: 350px;
    transition: transform(360deg);

}

.social-icon {
    color: rgb(233, 241, 241);
    margin: 10px;

}

.copyright {
    color: rgba(red, green, blue, alpha);
    font-size: 0.9em;
}




/*------------- media query for responsive------------- */

@media only screen and (max-width: 700px) {
    .header-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-box {
        width: 100%;
        margin: 30px 0;

    }

    nav {
        width: 90%;
    }

    .all-players {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;

    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (min-width:701px) and (max-width:1050px) {
    .all-players {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
    }
}