@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style and utilize */
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
}

button {
    background-color: #E02C6D;
    padding: 5px 15px;
    color: white;
    font-size: 1.2em;
    border: 2px solid #E02C6D;
    transition: transform 2s linear;

}

button:hover {
    transform: scale3d(1.1);
    color: blueviolet;
}

a:hover,
.fab:hover,
.left-icon:hover {
    transform: scale(1.2);
    color: blueviolet;
}


/*----------- header style start------------- */




/* -------navbar style---------- */
header {
    background-color: #2D25A0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.fa-bars {
    font-size: 1.2em;

}

.menubar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.menubar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0px 5px;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


/* ---------header box-------------- */

h1 {
    font-size: 50px;
    margin: 0px;
}

.header-boxes {
    width: 80%;
    display: flex;
    margin-top: 40px;

}

.header-box {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-box img {
    width: 100%;
    transition: transform 0.8s ease-in-out;
}

.header-box>img:hover {
    transform: scale(1.13);
}


/* ---------main section part--------- */

main {
    display: flex;
    justify-content: center;

}

.players {
    display: grid;
    grid-template-columns: 3, 1fr;
    margin-top: 40px;
    width: 80%;
    grid-gap: 40px;
}